.nem-div{
    text-align: center;
}

#data-fields{
    padding-left: 30%;
    /* padding-right: 30%; */
}

body{
    /* background-color: (238,243,242,1) !important; */
    background-color: rgba(238,243,242,1) !important;

}
